body {
  margin: 50px auto;
  max-width: 800px;
  font-family: Lemonada;
  background-color: var(--second-color);
  color: var(--primary-color);
  text-align: center;
}

:root {
  --primary-color: #ab9873;
  --second-color: #f7f7f7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

p {
  display: flex;
  margin: 10px 0;
  font-weight: 500;
}

strong a {
  display: block;
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  background-color: var(--primary-color);
  color: var(--second-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin: 10px;
  padding: 20px 15px;
  letter-spacing: 1.5px;
  font-weight: lighter;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.croissant-photo,
.croissant-photo-2,
.croissant-photo-3,
.croissant-photo-4 {
  display: block;
  max-width: 100%;
  border-radius: 6px;
  margin: 0 auto;
  border: 1px solid #000000;
  padding: 5px;
  box-shadow: var(--box-shadow);
}
.croissant-photo-2 {
  min-width: 50%;
  min-height: fit-content;
}
